# Content
* [String](#string)
* [Sets](#sets)

### Strings <a name="string"></a>

#### Making Strings Upper and Lower Case

* str.upper() 
* str.lower()

#### Boolean Methods

* str.isalnum(): only alphanumeric characters (no symbols)
* str.isalpha(): only alphabetic characters (no symbols)
* str.isnumeric(): only numeric characters
* str.isspace(): consists of only whitespace characters
* str.istitle(): string is in title case
* str.isdigit() 
---
* str.islower(): alphabetic characters are all lower case
* str.isupper(): alphabetic characters are all upper case

In [8]:
mystr = 'ahsn'
print(mystr.isalpha())

print("A Thousand Splendid Sharks".istitle())
print("2001: A SAMMY ODYSSEY".istitle())

True
True
False

#### Length

* len()

#### join(), split(), and replace() Methods

* delimiter.join(your_str): concatenate two strings, but in a way that passes one string through another.
* your_str.split(delimiter): returns a list of strings that are separated by whitespace if no other parameter is given
* your_str.replace(old, new): take an original string and return an updated string with some replacement.

In [9]:
balloon = "Sammy has a balloon."
".".join(reversed(balloon))

'..n.o.o.l.l.a.b. .a. .s.a.h. .y.m.m.a.S'

In [13]:
print(balloon.replace('a', 'many'))
print(balloon.replace('a ', 'many '))

Smanymmy hmanys many bmanylloon.
Sammy has many balloon.

#### Counting

* ss.count("a"): how many a in ss

#### Position

* str.find(a): the index of first a in ss
* str.find(a, x): instead of starting at the beginning of the string, start from the index number x.
* str.find(a, x, y): start from the index number x & end at y.

In [34]:
likes = "Sammy likes to swim in the ocean, likes to spin up servers, and likes to smile."
print(likes.find('like')) 
print(likes.find('like', 9)) # start from index 9
print(likes.find("likes", 40, -6))

6
34
64

#### Text Alignment

* str.ljust(width, delimiter)
* str.center(width, delimiter)
* str.rjust(width, delimiter)

### Sets <a name="sets"></a>

##### General

In [1]:
print(set('HackerRank'))
print(set(set(['h','a','c','k','e','r','r','a','n','k'])))
print(set([1,2,1,2,3,4,5,6,0,9,12,22,3]))
print(set({'Hacker' : 'DOSHI', 'Rank' : 616 }))
print(set(enumerate(['H','a','c','k','e','r','r','a','n','k'])))

{'H', 'r', 'a', 'k', 'n', 'R', 'e', 'c'}
{'h', 'r', 'e', 'a', 'k', 'n', 'c'}
{0, 1, 2, 3, 4, 5, 6, 9, 12, 22}
{'Hacker', 'Rank'}
{(0, 'H'), (4, 'e'), (2, 'c'), (5, 'r'), (3, 'k'), (6, 'r'), (8, 'n'), (7, 'a'), (1, 'a'), (9, 'k')}

##### Modifications
* map(): generates a map object and needs to convert into a list or something
* add(): add the object into the set --> cannot work with an iterable obj., like lists, sets
* update(): add each element of the object into the set --> can accept only iterables

In [7]:
myset = {1, 2}
print('--- add ---') # add object
myset.add((5, 4))
print(myset)
print('--- update ---') # add elements
myset.update((100, 101))
myset.update({'a','c'})
print(myset)

--- add ---
{1, 2, (5, 4)}
--- update ---
{1, 2, (5, 4), 100, 101, 'c', 'a'}

In [8]:
myset = {1, 2}
myset.add([3,4])

TypeError: unhashable type: 'list'

In [9]:
myset = {1, 2}
myset.update(3)

TypeError: 'int' object is not iterable

##### Removing Items
* discard(): element elem from the set if it is present.
* remove(): element elem from the set. Raises KeyError if elem is not contained in the set.
* pop(): removes and return an arbitrary element from the set.

In [11]:
myset = {'a', 1, 'c', 'b', 12, (5, 4), 13, 11, 2, 3}
myset.discard(10) # no error
myset.remove(10) # error happens

KeyError: 10

##### Set Operations
* a.union(b): values which exist in a or b
* a.intersection(b): values which exist in both a and b
* a.difference(b): values which exist in a but not in b
* a^b: union the values in a but not in b & the values in b but not in a

In [12]:
a = {2, 4, 5, 9}
b = {2, 4, 11, 12}
a.difference(b)

{5, 9}