#### Introduction to Sets

Ms. Gabriel Williams is a botany professor at District College. One day, she asked her student Mickey to compute the average of all the plants with distinct heights in her greenhouse.

In [5]:
def average(array):
    if len(array) > 0:
        array = set(array)
        return (sum(array)/len(array))
    
average([161,182,161,154,176,170,167,171,170,174])

169.375

#### Symmetric Difference

Given  sets of integers,  and , print their symmetric difference in ascending order. The term symmetric difference indicates those values that exist in either  or  but do not exist in both.

In [18]:
a,b = [set(input().split()) for _ in range(4)][1::2]

4
2 4 5 9
4
2 4 11 12

In [19]:
a^b

{'11', '12', '5', '9'}

In [22]:
print(*sorted(a^b, key=int), sep='\n') # sort with the integer version of the values
                                       # * unpacks the list

5
9
11
12

#### No Idea!

In [ ]:
integers, a, set_a, set_b = [input().split() for _ in range(4)][0::1]
set_a = set(set_a)
set_b = set(set_b)
happiness = 0
for i in a:
    if i in set_a:
        happiness += 1
    if i in set_b:
        happiness -= 1
print(happiness)

In [ ]:
3 2
1 5 3
3 1
5 7

#### Set .add()

In [52]:
num_item = int(input())
inputlst = [input() for _ in range(num_item)]
print(len(set(inputlst)))

7
UK
China
USA
France
New Zealand
UK
France

In [ ]:
7
UK
China
USA
France
New Zealand
UK
France

#### Set .discard(), .remove() & .pop()

In [55]:
n = int(input())
s = set(map(int, input().split()))

TypeError: 'set' object does not support indexing

In [ ]:
num_item = int(input())
items = input().split()

num_method = int(input())
methods = [input(). for _ in range(num_method)]

In [58]:
items = input().split()

1 2 3 4 5 6 7 8 9

In [59]:
items

['1', '2', '3', '4', '5', '6', '7', '8', '9']